<html>

<head>
    <title>/ascii/</title>
</head>
<body style="margin:0">
    <h1 style="background-color: #ddd; color: #888; margin: 0; height: 50px"> /ascii/
    </h1>
    <form method="post">
        <label>
                    <div>title</div>
                    <input type="text" name="title" value="{{title}}">
                </label>
        <label>
                    <div>art</div>
                    <textarea name="art">{{art}}</textarea>
                </label>

        <div class="error">{{error}}</div>
        <input type="submit">
    </form>
    <hr> 
    {% for art in arts %}
    <div class="art">
        <div class="art-title">{{art.title}}</div>
        <pre class="art-body">{{art.art}}</pre>
        <!--<div class="art-created">{{art.created}}</div>-->
    </div>
    {% endfor %}
</body>
<footer>
    <form>
        <ul style="list-style-type: none">
<li><button type="submit" value='/' name="page">home</button></li>
</ul>
</form>
</footer>